.dhkdbT {
    padding: 0px !important;
    top: 10% !important;
}

#dashboard {
    display: grid;
    grid-template-rows: 100%;
    grid-row-gap: 0;
    width: 100vw;
    max-height: 300px;
    max-width: 100%;
}

#display-console {
    border: 2px solid #fff !important;
    flex: 1;
    align-content: start;
    box-sizing: border-box;
    font-size: 14px;
    word-break: break-all;
    overflow-wrap: break-word;
    word-break: break-all;
    width: auto;
    min-height: 30%;
    margin-left: 16.5%;
    margin-right: 16.5%;
    overflow-x: scroll;
}

#control-console {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border: 2px solid #fff !important;
    width: auto;
    height: 200px;
    box-sizing: border-box;
    margin-left: 16.5%;
    margin-right: 16.5%;
    justify-items: center;
    align-items: center;
}

button {
    display: inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#fff;
    background-color:#333;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}

button:focus {outline:0;}


#display-message {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

